<div class="container" style="background-color:rgb(128, 64, 0);">
    <br>
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <!--login -->
        <div class="row text-center">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/img/c4.jpg" alt="">
                    </div>

                    <div class="item">
                        <img src="/img/c5.jpg" alt="">
                    </div>

                    <div class="item">
                        <img src="/img/c7.jpg" alt="">
                    </div>

                    <div class="item">
                        <img src="/img/cr1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <h1 id="text">Objetivo General</h1>
            <h4 id="text">
                Nuestro objetivo es satisfacer las necesidades de los propietarios de restaurantes, de tal forma que con
                ello logren ser más eficientes, cuidar la salud y mantén a tus clientes informados.
                Objetivos secundarios
                garantizar la seguridad de los clientes de que habrá un acceso controlado y siempre con las medidas
                adecuadas:</h4>
            <h4 id="text">a) Permitir al usuario listar los restaurantes con servicio y medidas de sanidad necesarias. </h4>
            <h4 id="text">b) Permitir al usuario consultar la disponibilidad de lugar y horario. </h4>
            <h4 id="text">c) Permitir al usuario registrarse y facilitarle la gestión de sus reservaciones </h4>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>