<div class="container" style="background-image: url(/img/1.jpg);">
    <div class="row">
        <h1 style="color: white;">{{user.name}}</h1>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5" >
            <h1 style="color: white; ">Usuarios</h1>
            <br>
            <a class="thumbnail" href="/links/user">
                <img src="/img/admin_user.jpg"  width="600px" height="100px" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h1 style="color: white;">Restaurantes</h1>
            <br>
            <a class="thumbnail" href="/links/rest">
                <img src="/img/admin_rest.jpg"  width="500px" height="100px" alt="">
            </a>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>